@charset "UTF-8";

*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none; color: black;}
img{border: 0; vertical-align: top;}
.clearFix::after{
    content: ""; display: block; clear: both;
}


#header{
    width: 100%; height: 0px;
    padding-bottom: 60%;
    background-image: url(images/bmwmain.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 0.3s;
}
#header .main_logo{
    position: absolute;
    left: 50%; top: 5%;
}
:root{
    --side-bar-width:270px;
    --side-bar-height:90vh;
}
#header .top .sidebar{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.647);
    width: var(--side-bar-width);
    min-height: var(--side-bar-height);
    margin-top: calc((100vh - var(--side-bar-height)) / 2);
    z-index: 3000;
    border-radius: 20px;
    transform: translate(calc(var(--side-bar-width) * -0.8), 0);
    transition: all .5s;
}
#header .top .sidebar>li a{
    display: block;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
}
/* #header .top .sidebar>li{
    position: relative;
} */

#header .top .sidebar:hover{
    transform: translate(-20px, 0);
}
#header .top>h1{
    color: white;
    line-height: 100%;
    position: absolute;
    left: 5%; top: 3%;
    font-size: 4.5vw;
    letter-spacing: -5px;
}
#header .top>h2{
    position: absolute;
    left: 5%; top: 22%;
    font-size: 2vw;
    color: #426073;
}
#header .top>span{
    color: white;
    font-size: 0.8vw;
}

#header .top input:hover{
    background-color: white;
    color: #000;
}
#header .top input{
    position: absolute;
    width: 14%; height: 10%;
    background: black;
    color: white;
    font-weight: bold;
    left: 5%; top: 30%;
    cursor: pointer;
    font-size: 1.5vw;
}
#section{
    color: white;
    width: 100%; height: 1200px;
}
#section .car_intro{
    width: 100%; height: 0; padding-bottom: 50%;
    /* height: 90vh; */
    background-image: url(images/bmwcar.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    /* border: 1px solid blue; */
    /* padding-bottom: 500px; */
    /* margin-top: -150px; */
    /* background-color: salmon; */
}
#section .car_intro .gnb{
    width: 50%; height: 0px; padding-bottom: 5%;
    padding-top: 2%;
    margin-left: 5%;
    border-bottom: 1px solid white;
    font-size: 1.5vw;
    display: flex;
    justify-content: space-around;
}
#section .car_intro .gnb li{
    text-align: center;
    line-height: 120%;
    /* border: 1px solid red; */
}
#section .car_intro .gnb a{color: white;}
/* #section .car_intro .gnb li:nth-child(1){
    position: absolute;
    left: 6%; top: 40%;
}
#section .car_intro .gnb li:nth-child(2){
    position: absolute;
    left: 26%; top: 40%;
}
#section .car_intro .gnb li:nth-child(3){
    position: absolute;
    left: 52%; top: 40%;
}
#section .car_intro .gnb li:nth-child(4){
    position: absolute;
    left: 70%; top: 40%;
} */
#section .car_intro .sub_logo{
    position: absolute;
    right: 5%; top: 3%;
    /* font-size: 2vw; */
}
#section .car_intro .car_info{
    width: 40%; height: 100px;
    margin-top: 3%;
    margin-left: 7%;
    display: flex;
    justify-content: space-between;
}
#section .car_intro .car_info li{
    font-size: 1.5vw;
    font-weight: 100;
    line-height: 30px;
    /* border: 1px solid red; */
}
/* #section .car_intro .car_info strong{
    font-weight: bold;
} */

/* #section .car_intro .car_info>li:nth-child(1){
    position: absolute;
    left: 150px; top: 20px;

} 
#section .car_intro .car_info>li:nth-child(2){
    position: absolute;
    left: 350px; top: 20px;
}
#section .car_intro .car_info>li:nth-child(3){
    position: absolute;
    left: 550px; top: 20px;

} */
#section .car_intro .intro{
    width: 40%; height: 40%;
    position: absolute;
    right: 0; top: 20%;
    font-size: 1.5vw;
    font-weight: 300;
    /* border: 1px solid red; */
}
#section .car_intro .intro h1{
    margin-left: 15%;
    font-size: 1.8vw;
    font-weight: 100;
}
#section .car_intro .intro h2{
    margin-left: 18%;
    margin-top: 10%;
    font-size: 1.5vw;
    font-weight: 100;
}
#section .car_intro .intro h3{
    position: absolute;
    left: 35%; top: 10%;
    font-size: 8vw;
    font-weight: 500;
    margin-bottom: 10%;
}
#section .car_intro .intro h4{
    font-size: 1.8vw;
    font-weight: 100;
    margin-left: 52%;
}
#section .howto{
    width: 100%; height: 0; padding-bottom: 50%;
    background-image: url(images/drive.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}
#section .howto .howlogo{
    position: absolute;
    left: 10%; top: 8%;
}
/* #section .howto .app> strong{
    position: absolute;
    width: 500px;
    left: 700px; top: 20px;
    font-size: 7vw;
    font-weight: 300;
} */
#section .howto .app{
    width: 50%; margin: 0 auto;
    padding-top: 4%;
    /* position: absolute;
    left: 500px; top: 50px; */
    font-weight: lighter;
    /* border: 1px solid red; */
    text-align: center;
}
#section .howto .app>h1{
    font-size: 2.5vw;
}
#section .howto .app>p{
    margin-top: 3%;
    font-size: 1.2vw;
}
#section .howto .download{
    /* position: absolute;
    left: 830px; top: 220px; */
    cursor: pointer;
    width: 10%;
    background-color: #0065b1;
    margin: 0 auto;
    margin-top: 3%;
    padding: 2% 2%;
    text-align: center;
    font-size: 1.2vw;
    
}
#section .museum{
    background-image: url(images/buliding.png);
    width: 100%; height: 0; padding-bottom: 55%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -10;
}
#section .museum h1{
    font-size: 3vw;
    position: absolute;
    left: 45%; top: 10%;
}
#section .museum p{
    font-size: 1.3vw;
    position: absolute;
    font-weight: lighter;
    left: 52%; top: 20%;
}
#section .museum .more{
    position: absolute;
    left: 60%; top: 30%;
    cursor: pointer;
    width: 10%;
    text-align: center;
    padding: 25px 25px;
    background-color: white;
    color: black;
    font-weight: 700;
    font-size: 1.2vw;
    /* transition: all 0.5s; */
}
#section .museum .more:hover{
    background-color: black;
    color: white;
}
#section .madecar{
    width: 100%; height: 0; padding-bottom: 70%;
    /* background-color: bisque; */
    display: flex;
    /* position: relative; */
}
/* #section .madecar{
    position: relative;
    width: 50%; height: 1000px;
    background-image: url(images/car.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.144);
    left: 40%; top: 1000px;
} */
#section .madecar .text{
    width: 40%;
}
#section .madecar .text .text_txt{
    width: 90%; margin: 0 auto;
    height: 0%; padding-bottom: 90%;
    transform: translateY(56%);
    /* border: 1px solid red; */
    text-align: center;
}
#section .madecar .text .text_txt h1{font-size: 4.5vw; color: black;}
#section .madecar .text .text_txt h2{
    font-size: 2.3vw;
    margin-top: 10%;
    line-height: 200%;
    font-weight: 100;
    letter-spacing: -1px;
    color: black;
}
#section .madecar .text .text_txt div{
    width: 40%; height: 0px; padding-bottom: 7%;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 5%;
    padding-top: 2%;
    font-size: 1.2vw;
    color: black;
    letter-spacing: -1px;
}
#section .madecar .text .text_txt div:first-child{margin-top: 10%;}
#section .madecar .made_car{
    width: 60%; height: 60vh;
}
#section .madecar>.made_car>.car{
    width: 90%; margin: 0 auto;
    height: 0%; padding-bottom: 90%;
    overflow:hidden;
    transform: translateY(15%);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.144);
}
#section .madecar .made_car .car img{
    width: 100%;
}


#footer{
    width: 100%; height: 0; padding-bottom: 20%;
    display: flex;
    justify-content: space-around;
    /* background-color: rgb(255, 25, 25); */
    position: relative;
}
#footer .footinfo{
    width: 55%;
    color: black;
}
#footer .footinfo .info{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
}
#footer .footphoto{
    background-image: url(images/driver.jpg);
    width: 35%; height:0; padding-bottom: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid red; */
}
#footer .footinfo>.info>ul>li{
    font-size: 1vw;
    line-height: 30px;
}
#footer .footinfo .info ul>li:first-child{
    font-size: 1.1vw;
    font-weight: 600;
    margin-bottom: 10%;
}
#footer .footinfo .privacy{
    width: 50%;
    position: absolute;
    left: 7%; bottom: 2%;
    color: #000;
    /* border: 1px solid red; */
}
#footer .footinfo .privacy li:nth-child(1){font-weight: 900; font-size: 1.2vw;}
#footer .footinfo .privacy li:nth-child(2){margin-top: 3%; font-size: 1.2vw;}

/*---------------------------tablet---------------------------*/
@media all and (min-width:769px) and (max-width:1024px){
    #header .top h2 span{color: white; font-weight: 400;}
    /* ----------------- */
    #section .car_intro .gnb{font-size: 2vw;}
    /* #section .car_intro  */
    #section .car_intro .car_info{margin-top: 32%;}
    #section .car_intro .car_info li{
        font-size: 1.7vw;
    }
    #section .car_intro .car_info li strong{font-size: 3vw;}
    /* ------------------ */
    #section .howto .app{padding-top: 2%;}
    #section .howto .app h1{font-size: 8vw; font-weight: 100;}
    #section .howto .app p{font-size: 2.5vw;}
    #section .howto .download{font-size: 1.4vw; margin-top: 13%;}
    /* ------------------------- */
    #section .museum{
        background-image: url(images/bmwbulidingtbl.jpg);
    }
    /* ---------------------------------- */
    #section .madecar{
        padding-bottom: 125%;
        flex-wrap:wrap;
        position: relative;
    }
    #section .madecar .text{width: 100%;}
    #section .madecar .text .text_txt{
        width: 90%; margin: 0 auto;
        height: 0%; padding-bottom: 10%;
    }
    #section .madecar .text .text_txt h1{font-size: 5.5vw;}
    #section .madecar .text .text_txt h2{
        margin-top: 1%;
        margin-bottom: 80%;}
    #section .madecar .text .text_txt>div{
        font-size: 2.5vw; width: 30%; padding-bottom: 5%;
    }
    #section .madecar .made_car{
        width: 80%;
        position: absolute; 
        left: 50%; transform: translate(-50%);
        top: 10%;
    }
    /*  */
    #footer{width: 100%; padding-bottom: 25%; flex-wrap: wrap;}
    #footer .footinfo{margin-left: -30%;}
    #footer .footinfo .info{justify-content: space-between;}
    #footer .footphoto{display: none;}
    #footer .footinfo .info>ul>li{font-size: 1.5vw;}
    #footer .footinfo .info ul>li:first-child{font-size: 2.1vw;}
    #footer .footinfo .privacy li:nth-child(1){font-size: 1.5vw;}
    #footer .footinfo .privacy li:nth-child(2){font-size: 1.5vw;}
}
/* -----------------------mobile----------------*/
@media all and (max-width:768px){
    #header .main_logo img{width: 80%;}
    #section .car_intro .sub_logo img{width: 80%;}
    #section .howto .howlogo img{width: 80%;}
    #section .museum .more{
        width:50px; height: 10px;
        padding: 10px 10px;
        left: 63%;
    }
    #footer .privacy{
        top: 200px;
    }
    }